<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>serviceKey</key>
	<string>GdV6w9ttF1gQeOqShASaVgndIY4%2Fv1vT4QCAe0L1VHj7MjBwOv2I9TKmjZ56eh5keGMEHjEOGpFt5iasmTrkjQ%3D%3D</string>
	<key>baseURL</key>
	<string>https://apis.data.go.kr</string>
</dict>
</plist>
